<?xml version='1.0' encoding='utf-8'?>
<plugin id="ultralow-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UltralowPlugin</name>
    <js-module name="UltralowPlugin" src="www/ultralowPlugin.js">
        <clobbers target="window.ultralowPlugin" />
    </js-module>
    
    <platform name="android">
    	<config-file target="res/xml/config.xml" parent="/*">
    		<feature name="UltralowPlugin">
    			<param name="android-package" value="com.zkmeiling.serialport.UltralowPlugin"/>
    		</feature>
    	</config-file>
    	
    	<source-file src="src/android/UltralowPlugin.java" target-dir="src/com/zkmeiling/serialport"/>
    	
    	<source-file src="src/android/android_serialport_api/SerialPort.java" target-dir="src/android_serialport_api"/>
    	<source-file src="src/android/android_serialport_api/SerialPortFinder.java" target-dir="src/android_serialport_api"/>
    	
    	<source-file src="src/android/model/Message.java" target-dir="src/com/zkmeiling/serialport/model"/>
    	<source-file src="src/android/model/MessageState.java" target-dir="src/com/zkmeiling/serialport/model"/>
    	<source-file src="src/android/model/ReadParams.java" target-dir="src/com/zkmeiling/serialport/model"/>
    	<source-file src="src/android/model/Received.java" target-dir="src/com/zkmeiling/serialport/model"/>
    	
    	<source-file src="src/android/util/CrcUtil.java" target-dir="src/com/zkmeiling/serialport/util"/>
    	<source-file src="src/android/util/DataUtil.java" target-dir="src/com/zkmeiling/serialport/util"/>
    	<source-file src="src/android/util/MessageDecoderUtil.java" target-dir="src/com/zkmeiling/serialport/util"/>
    	<source-file src="src/android/util/ParamsDecoderUtil.java" target-dir="src/com/zkmeiling/serialport/util"/>
    	<source-file src="src/android/util/ParamsEncoderUtil.java" target-dir="src/com/zkmeiling/serialport/util"/>
    	
    	<source-file src="src/jniLibs/armeabi-v7a/libserial_port.so" target-dir="libs/armeabi-v7a"/>
		<source-file src="src/gson.jar" target-dir="libs"/>
    </platform>
</plugin>
